<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nova.workoutapp22">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".subSources.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MotivationActivity"
            android:label="동기부여 자료" />
        <activity
            android:name=".WorkoutActivity"
            android:label="운동 세팅하기" />
        <activity
            android:name=".MemoActivity"
            android:label="운동 일지" />
        <activity
            android:name=".AddMemoActivity"
            android:label="일기 추가하기" />
        <activity
            android:name=".AddWorkoutActivity"
            android:label="운동 추가하기" />
        <activity
            android:name=".PlayWorkoutActivity"
            android:label="운동중!" />
        <activity
            android:name=".GalActivity"
            android:label="동기부여 갤러리" />
        <activity android:name=".GalZoomActivity" />
        <activity
            android:name=".VidActivity"
            android:label="동기부여 영상"
            android:launchMode="singleTask"
>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".WatchVidActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="nova.workoutapp22.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>

</manifest>